<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Архив миссий</title>
</head>
<body>
<h2>Список миссий</h2>
<table border="1">
    <tr>
        <th>ID миссии</th>
        <th>Дата</th>
        <th>Локация</th>
        <th>Исход</th>
        <th>Действие</th>
    </tr>
    <tr th:each="m : ${missions}">
        <td th:text="${m.missionId}"></td>
        <td th:text="${m.date}"></td>
        <td th:text="${m.location}"></td>
        <td th:text="${m.outcome}"></td>
        <td><a th:href="'/report/' + ${m.missionId}">Сформировать отчет</a></td>
    </tr>
</table>
<br><a href="/">На главную</a>
</body>
</html>